body {
    background-image: url("wood.png");
}

#main {
    background    : gold;
    border-radius : 5px;
    border        : 5px outset goldenrod;
    padding       : 5px;
   
}
@media only screen and (min-width: 600px) {
    #main {
        width : 600px;
        margin : auto;
    }
}

h1 {
    background: gold;
    border-radius: 5px;
    border: 5px outset goldenrod;
    width: 50%;
}
h2::first-letter {
    text-trasform: uppercase;
}

.center{
    margin: auto;
    text-align: center;
}

header{
    
    background-color: black;
    color: white;
    position: relative;
    top: -10px;
    padding: 20px;
}

header a{
    color: white;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    border-left: 3px solid white;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    
    position: relative;
    top: 0px;
}

header a:hover{
    top: 4px;
}

table.board {
    margin: auto;
    background: black;
}
table.board td, .piece{
    width:  50px;
    height: 50px;
    background: green;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: x-large;
}
.red{
    background: red;
}
.blue{
    background: blue
}
table.board td.active{
    border: white outset;
    width: 44px;
}

table.board td.ui-sortable-placeholder {
    display: none;
}


.error {
    color: red;
}
.inline {
    display:inline;
}